<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/list.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/posts_list.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/users_list.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/aside.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/button.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/profile.css">
        <link rel="stylesheet" type="text/css" href="/static/styles/writer.css">
    </head>
    <body>
        {% if writer_form and current_user.is_authenticated%}
        <div class="writer hide">
            <div class="counter">
                <div class="content">
                    <form name="writer" method="post" enctype="multipart/form-data" class="form">
                        {{ writer_form.hidden_tag() }}
                        {{ writer_form.content() }}
                        {{ writer_form.photo() }}
                        {{ writer_form.submit(type="submit") }}
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        <header class="blur">
            <span class="logo">
                <img src="" alt="">
                Название
            </span>
            <span>
                {{ title }}
            </span>
            {% if search_form %}
            <span>
                <form name="search" action="/search" method="get" style="float: right">
                    {{ search_form.hidden_tag() }}
                    {{ search_form.search() }}
                    {{ search_form.submit(type="submit") }}
                </form>
            </span>
            {% endif %}
        </header>
        <aside>
            {% if not current_user.is_authenticated %}
            {% if login_form %}
            <div>
                <form name="login" action="/login" method="post">
                    <div>
                        {{ login_form.login(render_kw={"placeholder": "Логин"}) }}
                    </div>
                    <div>
                        {{ login_form.password(render_kw={"placeholder": "Пароль"}) }}<br>
                    </div>
                    <div>
                        {{ login_form.remember.label }}
                        {{ login_form.remember() }}<br>
                    </div>
                    <div>
                        {{ login_form.submit(type="submit", class="button") }}
                    </div>
                    <div>
                        <a href="/register" class="button">Или зарегистрироваться</a>
                    </div>
                </form>
            </div>
            {% endif %}
            {% else %}
            <div  class="profile_aside">
                <div class="f">
                    <img src="/static/profile_photos/{{ current_user.profile_photo }}" alt="Фото {{ current_user.login }}" class="profile_photo">
                </div>
                <div class="profile_main_data">
                    <div class="profile_name">
                        <a href="/{{ current_user.login }}" class="profile_name">{{ current_user.name }}</a>
                    </div>
                    <div class="profile_login f">
                        <a href="/{{ current_user.login }}" class="profile_login">@{{ current_user.login }}</a>
                    </div>

                    <div class="button_container">
                        <a href="/logout" class="button">Выход</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <nav class="button_container">
                <div>
                  <a href="/" class="button">Главная</a>
                </div>
                <div>
                    <a href="/users" class="button">Пользователи</a>
                </div>
                {% if current_user.is_authenticated %}
                <div>
                    <a href="/{{ current_user.login }}" class="button">Профиль</a>
                </div>
                <div>
                    <a href="/{{ current_user.login }}/following" class="button">Подписки</a>
                </div>
                <div>
                    <a href="/settings" class="button">Настройки</a>
                </div>
                {% endif %}
                <div>
                    <a href="/search" class="button">Поиск</a>
                </div>
            </nav>
            {% if current_user.is_authenticated %}
            <div class="new_tweet_container">
                <div class="button new_tweet">
                    Новый твит
                </div>
            </div>
            {% endif %}
        </aside>
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
    {% if writer_form and current_user.is_authenticated %}
    <script src="/static/scripts/new_tweet.js"></script>
    <script src="/static/scripts/writer.js"></script>
    {% endif %}
</html>